<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <nav>
        <a href="views/cliente/index.html">Cliente</a>
        <a href="views/administrador/index.html">Administrador</a>
        <a href="views/cocina/index.html">Cocina</a>
        <a href="views/mesero/index.html">Mesero</a>
    </nav>
    <div>
        <a href="../../index.html" class="btn-volver">← Volver al menú principal</a>
        <h1>Tabla de pedidos</h1>
        <table>
            <tr>
                <th># de pedido</th>
                <th></th>
                <th>Estado</th>
            </tr>
            <tr>
                
            </tr>
        </table>
    </div>
</body>

</html>