<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <div>
        <a href="../../index.html" class="btn-volver">← Volver al menú principal</a>
        <h1>Realizar pedido</h1>
        <form action="">
            <input type="checkbox" id="plato1" name="plato1" value="plato1">
            <label for="plato1">Plato 1</label>
            <label for="points">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1"></br>
            <input type="checkbox" id="plato2" name="plato2" value="plato2">
            <label for="plato2">Plato 2</label>
            <label for="points">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1"></br>
            <input type="checkbox" id="plato3" name="plato3" value="plato3">
            <label for="plato3">Plato 3</label>
            <label for="points">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1"></br>
            <input type="checkbox" id="plato4" name="plato4" value="plato4">
            <label for="plato4">Plato 4</label>
            <label for="points">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1"></br>
            <input type="checkbox" id="plato5" name="plato5" value="plato5">
            <label for="plato5">Plato 5</label>
            <label for="points">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1" value="1"></br>
        </form>
        <p>Precio: <strong>500,000 pesos</strong></p>


    </div>
    <div>
        <h1>Reservar mesa</h1>
        <form action="">
            Nume<p>Numero de personas: </p>
            <input type="number" id="numPersonas" min="1" max="10" step="1" value="1" />
            <p>Edad de cada persona:</p>
            <input type="text" id="edadPersonas" />
            <p>Tipo de evento: </p>
            <select name="evento">
                <option value="cumpleaños">Cumpleaños</option>
                <option value="trabajo">Evento laboral</option>
                <option value="familia">Evento familiar</option>
            </select>
            <input type="submit" value="Reservar" />
        </form>
    </div>
</body>

</html>