<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabores de Colombia - Cliente</title>
       <!-- Conectar con los estilos css -->
    <link rel="stylesheet" href="../../css/styles.css">

</head>

<body>
     <!-- Barra de navegación y botón volver -->
    <nav>
        <a href="../../index.html" class="btn-volver">← Volver al menú principal</a>
        <a href="../../views/cliente/index.html" class="navItem">Cliente</a>
        <a href="../../views/cocina/index.html" class="navItem">Cocina</a>
        <a href="../../views/mesero/index.html" class="navItem">Mesero</a>
        <a href="../../views/administrador/index.html" class="navItem">Administrador</a>
    </nav>
     <!-- Título principal -->
    <h1 class="bienvenida">Menú Digital</h1>
    
    <!-- Sección del menú -->
    <div class="seccion-menu">
        <h2>Platos Disponibles</h2>
        <div id="contenedorPlatos" class="menu-carta">
            <!-- Render dinámico desde script.js -->
        </div>
    </div>
    <div class="seccion-busqueda">
        <h2>Buscar Platos</h2>
        
        <label>Nombre del plato:</label>
        <input type="text" id="inputNombre" placeholder="Ej: Arepa, Toston...">
        
        <label>Categoría:</label>
        <select id="selectCategoria">
            <option value="Todas">Todas</option>
            <option value="Entrada">Entrada</option>
            <option value="Plato fuerte">Plato fuerte</option>
            <option value="Postre">Postre</option>
        </select>
        
    <button id="btnBuscar">Buscar</button>
    </div>

    <script src="script.js"></script>


</body>

</html>
